Source: bacnet-stack6
Priority: optional
Maintainer: David R. Bild <david.bild@xaptum.com>
Build-Depends: debhelper (>= 9), dh-systemd, dh-exec
Standards-Version: 3.9.8
Section: libs
Homepage: http://bacnet.sourceforge.net/
#Vcs-Git: https://anonscm.debian.org/collab-maint/bacnet-stack.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/bacnet-stack.git

Package: bacnet-tools6
Architecture: any
Depends: ${misc:Depends}
Description: command line utilities for BACnet services
 The BACnet tools are binary demo application command line
 utilities that use BACnet/IPv6 to perform a variety of
 BACnet services.
